# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.
# For a full list of active aliases, run `alias`.

alias zshconfig="nano ~/.zshrc"
alias ohmyzsh="nano ~/.oh-my-zsh"
alias zprf="nano ~/.zprofile"
alias zlgn="nano ~/.zlogin"
alias aconf="nano ~/.aliases"
alias sors=".  ~/.zshrc"
alias wttr="curl wttr.in/istanbul"
alias stest="networkQuality -v"

alias penvconf="nano ~/.env.parasut"

alias ibrew="arch -x86_64 /usr/local/bin/brew"
alias mbrew="arch -arm64e /opt/homebrew/bin/brew"
alias bss="brew services start"
alias bsr="brew services restart"
alias bsstop="brew services stop"
alias bsl="brew services list"
alias brw="brew install"
alias bru="brew uninstall"

alias kmts="cd ~/atlastek/kmts"
alias kmtsw="cd ~/atlastek/kmts-web"
alias idis="cd ~/atlastek/idis"
alias idisw="cd ~/atlastek/idis-web"
alias kmtswi="cd ~/atlastek/kmts-web-importmap"

alias yres="yarn run ember serve"
alias yi="yarn install"
alias bwr="bower install"
alias bi="bundle install"
alias nuke="bin/nuke"
alias rs="rails s"
alias mig="rails db:migrate"
alias red="RAILS_ENV=development"
alias ret="RAILS_ENV=test"
alias rdbd="rails db:drop"
alias rdbc="rails db:create"
alias kiq="bundle exec sidekiq -C config/sidekiq.yml"
alias gard="bundle exec guard"


alias hrrc="heroku run rails console"
alias hlt="heroku logs --tail"

alias gfo="git fetch origin"
alias gpl="git pull"
alias gco="git checkout"
alias gcb="git checkout -b"
alias gl="git log"
alias gs="git status"
alias gb="git branch"
alias gbd="git branch -D"
alias ga="git add"
alias gc="git commit"
alias gp="git push"
alias gpf="git push --force"
alias gr="git rebase"
alias grc="git rebase --continue"
alias gra="git rebase --abort"
alias gst="git stash"
alias gsts="git stash show"
alias gstp="git stash pop"
alias gcl="git clone"

alias cdp="cd ~/Documents/Projects/"
alias sors=".  ~/.zshrc"
alias nu="nvm use"
alias ru="rvm use"
alias ni="nvm install"
alias ri="rvm install"
